{% extends "layout.html" %}
{% block content %}

    <section class="home"></section>
    <div class='bodyDiv' style='container-fluid'>
    
        <select name="regions" id="region-select", onchange="getCountry(this.value)">
            <option value="">--Please choose a region--</option>
            <option value="World">World</option>
            <option value="USA">USA</option>
            <option value="CHN">China</option>
            <option value="GBR">United Kingdom</option>
            <option value="FRA">France</option>
            <option value="CAN">Canada</option>
            <option value="AUS">Australia</option>
            <option value="NLD">Netherlands</option>
            <option value="DNK">Denmark</option>
        </select>

        <div>
            <div><p id="value-time"></p></div>
            <div><div id="slider-time"></div></div>
            <div id="map-container"></div>
        </div>

        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </div>
</HTML>
{% endblock %}