{% extends "layout.html" %}
{% block content %}

    <section class="home"></section>
    <div class='bodyDiv' style='container-fluid'>
        <h2 class="myH2">Placeholder Title Text</h2>"
        <p class="myP">
            Placeholder paragraph text. Here we will talk about texty text things, with text in them and some texty wisdom that our text can prove. Did I mention this will have text? Okay, just checking.
        </p>
    
        <select name="regions" id="region-select", onchange="getCountry(this.value)">
            <option value="">--Please choose a region--</option>
            <option value="World">World</option>
            <option value="USA">USA</option>
            <option value="CHN">China</option>
            <option value="GBR">United Kingdom</option>
            <option value="FRA">France</option>
            <option value="CAN">Canada</option>
            <option value="AUS">Australia</option>
            <option value="NLD">Netherlands</option>
            <option value="DNK">Denmark</option>
        </select>

        <div>
            <div><p id="value-time"></p></div>
            <div><div id="slider-time"></div></div>
            <div id="map-container"></div>
        </div>

        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </div>
</HTML>
{% endblock %}