<html>
    <head>
    </head>
    <body>
        <div>
            <h2>COVID-19 Live Updates</h2>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            {{ bar | safe }} 
            {{ bubble | safe }} 
        </div>
        <!-- <form action="/" method="post">
            <select name="bargraph">
                <option value="confirmed" selected>Confirmed Cases</option>
                <option value="deaths">Deaths</option>
                <option value="recovered">Recovered Cases</option>
            </select>
            <input type="submit" value="Select">
        </form> -->
    </body>
</html>