{% extends "layout.html" %}
{% block content %}
<section class="home"></section>
<div class='bodyDiv' style='container-fluid'>
    <h2 class='myH2'>COVID-19 Live Updates</h2>
    <p class='myP'>
        Here is the placeholder for the text we will have to talk about this plot. Bladdy blah blah, this is my text block of bladdy blah blah.
    </p>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class='plotsDiv' alt="Max-width 100%">
        <div class="col-12" style="height: 900px; Max-width: 100%">
            {{ bubble | safe }}
        </div>
    
    </div>
</div>
{% endblock %}