{% extends "layout.html" %}
{% block content %}
<section class="home">
</section>
<div class='bodyDiv' style="container-fluid">
    <h2 class="myH2">Current Covid-19 Data API</h2>
    <p class="myP">
        Access Covid-19 updated within the last 24 hours. This data is updated from several sources and aggregated here. 
    </p>
    <h3 class='myH3'>Call Current Global Covid-19 Data</h3>
    <p class="myP">
        DESCRIPTION
        This will querry the most recent Covid-19 data.
        URL/API/most_recent
    </p>
    
</div>
{% endblock %}

